<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card-header">

    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4 class="post-meta">{{ page.summary }}</h4>
    <p class="post-summary">
      <time datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date | date: "%-d %B del %Y" | capitalize |
        replace: "january", "enero" | replace: "february", "febrero" | replace: "march", "marzo" | replace: "april",
        "abril" | replace: "may", "mayo" | replace: "june", "junio" | replace: "july", "julio" | replace: "august",
        "agosto" | replace: "september", "septiembre" | replace: "october", "octubre" | replace: "november", "noviembre"
        | replace: "december", "diciembre" }}
      </time>
    </p>
    <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}"></span>

  </div>

  <div class="card-body" itemprop="articleBody">
    <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ page.custome_img_post }}" alt="{{ post.title }}" />
    <br />
    <br />
    {{ content }}
    <br />
  </div>
</article>