<div class="share-page">
  <p class="share-text">Compartir en:</p>
  <a class="social-link" href="https://twitter.com/intent/tweet?url=URL_DE_TU_SITIO&text={{site.url}}{{page.url}}">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="social-link" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a class="social-link" href="https://www.instagram.com/sharer.php?u={{site.url}}{{page.url}}">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="social-link" href="https://www.linkedin.com/sharing/share-offsite/?url={{site.url}}{{page.url}}">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>