---
layout: default
title: Artículos en _bovedas
---
<br>
<br>
<br>

<div class="card">
    <h1>La bóveda del conocimiento</h1>
    <br>
    <p>Empecé esta sección para mí, internamente. Para tener un lugar donde ubicar todo lo que iba encontrando por
        internet y todo que voy aprendiendo por el camino.</p>
    <p>Después vi que toda esta información puede estar al servicio de todos y eso es lo que he hecho con este proyecto.
    </p>
    <p>En realidad, es una recopilación de todo lo que me he encontrado de Navision y Business central y otras cosas que
        creo importantes tener guardadas.</p>
    <br>
    <p>Quiero dejar claro que esta sección no es un blog y que por lo tanto puede estar la información algo escueta, por
        lo que si quieren más detalles de alguno de los datos solo tienen que pedirlo.</p>
    <br>
    <p>Puede haber material de otras personas y, por lo tanto, hago referencia a sus webs.</p>
</div>


<div class="row">
    {% assign sorted_posts = site.articles | sort: 'date' | reverse %}
    {% for post in sorted_posts %}

    <div class="card blog-post">
        <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}" class="card-title">
            <div class="card-body center">
                <h4> {{ post.title }}</h4>

                <p class="card-text">{{ post.summary }} </p>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ post.date | date: "%-d %B del %Y" | capitalize |
                    replace: "january", "enero" | replace: "february", "febrero" | replace: "march", "marzo" | replace:
                    "april", "abril" | replace: "may", "mayo" | replace: "june", "junio" | replace: "july", "julio" |
                    replace: "august", "agosto" | replace: "september", "septiembre" | replace: "october", "octubre" |
                    replace: "november", "noviembre" | replace: "december", "diciembre" }}
                </h6>
            </div>
        </a>
    </div>

    {% endfor %}
</div>