---
layout: default
---
<br><br><br>
{% assign category_name = page.name | replace: '.md', '' %}

<div class="card">
    <h5> Categoría: {{ category_name }} </h5>
    <div class="card card-categories-list">
        {% assign articles = site.articles | where: "category", category_name %}
        {% assign posts = site.posts | where: "category", category_name %}
        {% assign all_posts = articles | concat: posts | sort: 'date' | reverse %}
        {% for post in all_posts %}
        <li class="category-posts">
            <a href="{{ post.url }}">
                <span>
                    {{ post.date | date: "%-d %B del %Y" | capitalize |
                    replace: "january", "enero" | replace: "february", "febrero" | replace: "march", "marzo" | replace:
                    "april", "abril" | replace: "may", "mayo" | replace: "june", "junio" | replace: "july", "julio" |
                    replace: "august", "agosto" | replace: "september", "septiembre" | replace: "october", "octubre" |
                    replace: "november", "noviembre" | replace: "december", "diciembre" }}
                </span> &nbsp; · &nbsp;
                <span class="post-type">{{post.custom_type}}</span> &nbsp; · &nbsp;
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </div>
</div>