---
layout: default
---

<style>
  .naviworld-img {
    height: 75px;
  }

  .content-wrapper {
    width: 100%;
  }

  .h1-content-wrapper {
    margin-right: 10px;

  }

  .btn-abrir {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: 90%;
  }
</style>


<br>
<br>
<br>

<div class="card">
  <div class="content-wrapper">
    <h1 class="h1-content-wrapper">NaviWorld</h1>
    <img class="naviworld-img" src="{{site.url}}{{site.baseurl}}/assets/img/NavAesva01.png">
  </div>





  <p>¡Bienvenido a NaviWorld!</p>
  <p>La sección más molona de <b>Business Central</b> y <b>Navision</b>.</p>
  <p>Aquí encontrarás los secretos mejor guardados para potenciar tu experiencia en programación y desarrollo.
    NaviWorld es el espacio donde los programadores más osados se reúnen para compartir sus conocimientos y
    habilidades. Descubre cómo dominar estas herramientas y lleva tus habilidades de programación al siguiente nivel
    con nuestra ayuda.</p>
  <p>¡Únete a NaviWorld y conviértete en el mejor programador que puedas ser!</p>


</div>



<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <ul>
        <div class="row">
          {% for post in paginator.posts %}
          <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}">
            <div class="card blog-post">
              <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="{{ post.title }}">
              <div class="card-body center">
                <!-- <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="author-profile-img"> -->
                <h4 class="card-title">{{ post.title }}</h4>

                <h6 class="card-subtitle mb-2 text-muted">
                  {{ post.date | date: "%-d %B del %Y" | capitalize |
                  replace: "january", "enero" | replace: "february", "febrero" | replace: "march", "marzo" | replace:
                  "april", "abril" | replace: "may", "mayo" | replace: "june", "junio" | replace: "july", "julio" |
                  replace: "august", "agosto" | replace: "september", "septiembre" | replace: "october", "octubre" |
                  replace: "november", "noviembre" | replace: "december", "diciembre" }}
                </h6>
                <p class="card-text">{{ post.summary }} </p>

                <br>


              </div>
              <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}"
                class="btn btn-dark btn-lg btn-abrir">Abrir</a>

            </div>
          </a>
          {% endfor %}
        </div>
      </ul>

      <div class="row center">
        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <ul class="pagination pagination-sm">
          {% if paginator.previous_page %}
          <li class="pagination-link"><a
              href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
          {% else %}
          <li class="pagination-link disabled"><span aria-hidden="true">&laquo;</span></li>
          {% endif %}

          <li class="pagination-link"><a href="/blog">Primero</a></li>

          {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
          <li class="disabled pagination-link"><span><b>{{ page }}</b></span></li>
          {% elsif page == 1 %}
          <li class="pagination-link"><a href="/blog">{{ page }}</a></li>
          {% else %}
          <li class="pagination-link"><a
              href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
              page }}</a></li>
          {% endif %}
          {% endfor %}

          <li class="pagination-link"><a href="/blog/page/{{ paginator.total_pages }}/#/">Último</a></li>

          {% if paginator.next_page %}
          <li class="pagination-link"><a
              href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
          {% else %}
          <li class="disabled pagination-link"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>


    </div>


  </div>
</div>