---
layout: default
title: Portafolio
---
<br>
<style>
    .row {
        display: grid;
    }

    .card-project {
        width: 80%;
    }

    .card-bodu-home {
        text-decoration: black;
    }

    .div-img-project {
        float: left;
        width: 50%;
        min-height: 100px;
    }
</style>

<br>
<br>

<div class="card">
    <h1>Proyectos</h1>
    <br>
    <p>Esta es solo una pequeña lista de algunos de los proyectos en los que he trabajado o incluso he desarrollado
        en solitario.</p>
    <br>
    <p>En este listado se pueden encontrar proyectos públicos de los que he colgado el código en GitHub.</p>
    <p>Y proyectos privados de alguna empresa, estos no podré mostrar su código por las razones evidentes, pero sí
        que mostraré detalles breves de cómo es y el porqué de cada proyecto.</p>
</div>

<div class="row">
    {% assign sorted_posts = site.projects | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
    <!--Esto es para los proyecto de typo privado -->
    {% if post.custom_type_project == 'private' %}
    <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}">
        <div class="card blog-post card-project ">
            <div class="card-body">
                <h4>{{ post.title }}</h4>
                <u>Proyecto privado</u>
                <br><br>
                <p>{{ post.summary }}</p>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ post.date | date: "%b %-d, %Y" | capitalize |
                    replace: "january", "enero" | replace: "february", "febrero" | replace: "march", "marzo" | replace:
                    "april", "abril" | replace: "may", "mayo" | replace: "june", "junio" | replace: "july", "julio" |
                    replace: "august", "agosto" | replace: "september", "septiembre" | replace: "october", "octubre" |
                    replace: "november", "noviembre" | replace: "december", "diciembre" }}
                </h6>
            </div>
        </div>
    </a>

    {% endif %}
    <!--Esto es para los proyecto de typo publico. Son proyectos que estan en GitHub -->
    {% if post.custom_type_project == 'public' %}
    <a href="{{ post.custom_url_github }}" target="_blank">
        <div class="card blog-post card-project">
            <div class="card-body">
                <h4>{{ post.title }}</h4>
                <div class="col-md-2 div-img-project">
                    <img src="{{site.url}}{{site.baseurl}}{{ post.custom_img_path}}" class="company-logo" />
                </div>
                <u>Proyecto público</u>
                <br>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </a>

    {% endif %}
    {% endfor %}
</div>