---
layout: default
title: Portafolio
---
<br>
<style>
    .row {
        display: grid;
    }

    .card-project {
        width: 80%;
    }

    .img-project-private {
        height: 100px;
        width: 100px;
    }

    .card-bodu-home {
        text-decoration: black;
    }
</style>

<br>
<br>

<div class="card">
    <h1>Proyectos</h1>
    <br>
    <p>Esta es solo una pequeña lista de algunos de los proyectos en los cuales he trabajado o incluso he desarrollado
        yo solo.</p>
    <br>
    <p>En este listado se puede encontrar tanto proyectos públicos que he colgado el código en GitHub.</p>
    <p>Como proyectos privados de alguna empresa, estos no podré mostrar su código por las razones evidentes, pero sí
        que mostrare detalles breves de como es y el porqué de cada proyecto.</p>
</div>

<div class="row">
    {% assign sorted_posts = site.projects | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
    <!--Esto es para los proyecto de typo privado -->
    {% if post.custom_type_project == 'private' %}
    <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}">
        <div class="card blog-post card-project ">
            <div class="card-body">
                <h4>{{ post.title }}</h4>
                <u>Proyecto privado</u>
                <br><br>
                <p>{{ post.summary }}</p>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ post.date | date: "%b %-d, %Y" | capitalize |
                    replace: "january", "Enero" | replace: "february", "Febrero" | replace: "march", "Marzo" |
                    replace: "april", "abril" | replace: "may", "Mayo" | replace: "june", "Junio" | replace: "july",
                    "Julio" |
                    replace: "august", "Agosto" | replace: "september", "Septiembre" | replace: "october", "Cctubre" |
                    replace: "november", "Noviembre" | replace: "december", "Diciembre" }}
                </h6>
            </div>
        </div>
    </a>

    {% endif %}
    <!--Esto es para los proyecto de typo publico. Son proyectos que estan en GitHub -->
    {% if post.custom_type_project == 'public' %}
    <a href="{{ post.custom_url_github }}" target="_blank">
        <div class="card blog-post card-project">
            <div class="card-body">
                <h4>{{ post.title }}</h4>
                <u>Proyecto público</u>
                <br>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </a>

    {% endif %}
    {% endfor %}
</div>